<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c2af641e5c.js" crossorigin="anonymous"></script>

    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="style.css" />
    <title>mysite</title>
  </head>

  <body>
    <!-- header -->
    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to image_tag('logo.png'), homes_index_path %></li>
          <li class="nav-list-item"><%= link_to "Portfolio",homes_index_path(anchor: 'portfolio') %></li>
          <li class="nav-list-item"><%= link_to "Feature",homes_index_path(anchor: 'feature') %></li>
          <li class="nav-list-item"><%= link_to "Profile",homes_index_path(anchor: 'profile') %></li>
          <li class="nav-list-item"><%= link_to "Contact",homes_index_path(anchor: 'contact') %></li>
        </ul>
      </nav>
    </header>
    <!-- main-visual用のdiv -->
    <div class="main-visual">
      <div class="main-visual-content">
        <div class="main-text" >Lorem Ipsum</div>
        <div class="sub-text">simply dummy text of the printing</div>
      </div>
    </div>

    <!-- main用のdiv -->
    <div class="main">
      <div class="portfolio">
        <p id="portfolio">Portfolio</p>
        <p class="portfolio-text">It is a established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
          The point of using Lorem Ipsum is that has a more-or-less normal distribution of letters.
        </p>
        <div class="portfolio-image">
          <div class="image">
            <div class="img-1"></div>
            <div class="img-2"></div>
            <div class="img-3"></div>
            <div class="img-4"></div>
            <div class="img-5"></div>
            <div class="img-6"></div>
          </div>
        </div>
      </div>

      <div class="feature">
        <div class="feature-contents">
        <p id="feature">Feature</p>
        <p class="feature-text">
          It is a long established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        </p>
        <div class="strengthes">
          <div class="strength-box1">
            <i class="far fa-heart"></i>
            <p class="strength">Strength1</p>
            <div class="strength-text">
              <p>texttexttexttexttexttexttexttexttexttext<br>
              texttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
        
          <div class="strength-box2">
            <i class="fas fa-desktop"></i>
            <p class="strength">Strength2</p>
            <div class="strength-text">
              <p>texttexttexttexttexttexttexttexttexttext<br>
              texttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
        
          <div class="strength-box3">
            <i class="fas fa-cogs"></i>
            <p class="strength">Strength3</p>
            <div class="strength-text">
              <p>texttexttexttexttexttexttexttexttexttext<br>
              texttexttexttexttexttexttexttexttexttext</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      
      
      <div><p id="profile">Profile</p></div>
      <div><p id="contact">Contact</p></div>
    </div>

    <!-- footer -->
    <footer></footer>
  </body>
</html>